# Environment variables
.env
.env.*

# Python
pycache/
*.py[cod]
*$py.class

# Virtual environment
venv/
.venv/
env/

# Django
*.log
logs/
db.sqlite3
db.sqlite3-journal

# Media files
media/

# Static files
staticfiles/
static/

# IDEs / Editors
.vscode/
.idea/

# OS files
.DS_Store
Thumbs.db

# Logs
*.log

# Coverage / Testing
.coverage
htmlcov/
.pytest_cache/
.coverage.*
coverage.xml

# Build / Distribution
build/
dist/
*.egg-info/

# Jupyter
.ipynb_checkpoints/

# Local development
*.local

#Celery Beat
celerybeat-schedule
celerybeat.pid