SECRET_KEY='your-secret-key'
DEBUG=True
ALLOWED_HOSTS=127.0.0.1,localhost
EMAIL_HOST='smtp.gmail.com'
EMAIL_PORT=587
EMAIL_HOST_USER='your-email'
EMAIL_HOST_PASSWORD='your-password'
EMAIL_USE_TLS=True
EMAIL_USE_SSL=False
DEFAULT_FROM_EMAIL='your-email'

#Database Settings
DATABASE_NAME=nexacart
DATABASE_USER=nexacart_user
DATABASE_PASSWORD="your-password"
DATABASE_HOST=db
DATABASE_PORT=5432

#Celery Settings
CELERY_BROKER_URL=redis://redis:6379/0
CELERY_RESULT_BACKEND=redis://redis:6379/0
